.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home {
  top: 10vh;
  position: relative;
}

.developerImage {
  float: right;
  width: 50%;
}

.aboutMe {
  float: left;
  width: 50%;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

@media only screen and (max-width: 600px) {
  .aboutMe {
    -ms-transform: none;
    transform: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
