.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #4B0082;
}

.links, .links:visited, .links:hover {
  float: right;
  margin: 10px 10px;
  text-decoration: none;
  color: white;
  font-size: .60em;
}

.links.active {
  color: #0ff;
  font-weight: 700
}

.logo {
  width: 52px;
  height: 52px;
  left: 0;
  position: absolute
}

.navigationLinkListItem {
  list-style-type: none;
}